* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: #ffffff;
}

.head {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 99px;
    background: #222222;
    color: #ffffff;
}

.logo {
    padding-left: 141.3px;
    padding-top: 26px;
}

.navigationHead {
    padding-left: 593px;
    padding-top: 42.3px;
    font-size: 16px;
    width: 498px;
    height: 19px;
}

nav>ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navigationHead>ul>li:nth-child(1n+2) {
    margin-left: 49.4px;
}

.link_head {
    text-decoration: none;
    color: #ffffff;
    line-height: 19px;
}

.whatsAppLogo {
    padding-left: 108.9px;
    padding-top: 44.5px;
    width: 13px;
    height: 13px;
}

.phoneNumber {
    padding-left: 27.9px;
    padding-top: 42.3px;
}

.mailLogo {
    padding-left: 35px;
    padding-top: 42.3px;
}

.bannerRent {
    position: relative;
    background: url(matRent/couch-1835923_1920\ 1.png);
    background-repeat: no-repeat;
    height: 872px;
}

.bannerRent::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #222222;
    opacity: 0.5;
    height: 872px;
}

.bannerText {
    position: absolute;
    z-index: 3;
    color: #ffffff;
    width: 643px;
    height: 231px;
    top: 193px;
    left: 407.7px;
}

.bannerText>h1 {
    position: relative;
    font-size: 64px;
    font-weight: 400;
}

.bannerText>span {
    position: absolute;
    right: 5px;
    margin-top: 5px;
    height: 28px;
    font-size: 24px;
    font-weight: 400;
}

.bannerText>p {
    margin-bottom: 18px;
    width: 527px;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
}

.bannerText>p:nth-child(odd) {
    padding-top: 51px;
}

.buttonBanner {
    position: absolute;
    top: 485px;
    left: 429.3px;
    z-index: 3;
    width: 285px;
    height: 67px;
    background-color: #ffa724;
    border: #ffa724 1px solid;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
}

.bronItem {
    text-decoration: none;
    color: #000000;
}


/* Modal Window */

.openModalWindow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    margin: 0;
    padding: 0;
    /* Анимация перехода */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    /* анимация перехода */
}

.openModalWindow:target {
    opacity: 1;
    pointer-events: auto;
}

.modalContent {
    background: #000000;
}

.modalWind {
    position: relative;
    background: #ffffff;
    width: 525px;
    height: 656px;
    margin: 30px auto;
    border-radius: 50px;
}